$couleur__background-body : coral;
$couleur__texte-base : darkblue;

/* Couleurs des titres */
$couleur__background--h1 : #aaa;
$couleur__background--h2h3h4 : #56630f;
$couleur__background--h5h6 : #bbddCC;

$couleur__h1: #bdc;
$couleur__h2h3h4: #abc;
$couleur__h5h6: #cba;


$couleur__background--small : #bbb;


/* Couleurs des liens */
$couleur__link : #55f;
$couleur__link-visited : #3f3;
$couleur__link-hover : #8f8;