$police__main: "Source Sans Pro";
$police__titre-principal: "Quicksand";
$police__titre-secondaire: "Quicksand";

/* ------------------------  simple */
$font__pre: "Source Code Pro";
$font__line-height-pre: 0.8em;
$font__code: "Source Code Pro";

/*body {
    font-family: ;
}*/
