$police__main: "Verdana";
$police__titre-principal: "Book Antiqua";
$police__titre-secondaire: "Bookman Old Style";

/* ------------------------  simple */
$font__pre: "Fira Code Retina";
$font__line-height-pre: 0.8em;
$font__code: "Fira Code";
