.site__footer {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  background-color: darkred;
  color: lightyellow;
}
.site__footer div {
  flex: 1;
  align-self: center;
  padding-left: 0.25em;
  //border: 1px dotted darkred;
}

.site__footer .calendrier {
  background-color: lightyellow;
  //border: 2px solid black;
  color: black;
}
