body {
    background-color: $couleur__background--body;
}

a {
    text-decoration: none;
}

main {
    font-family: $police__main;
}

.trace {
    background-color: grey;
}

aside h2 {
    margin: 0.67em;
    color: darkred;
}
