small, pre, code {
    background-color: $couleur__background--small;
    margin: 0 15px;
}
pre{
    font-family: "Matura MT Script Capitals";
}
code{
    font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
}
span{
    margin: 0 10px;
}
