.site__header {
    grid-area: header;
}

.site__main {
    margin: 1%;
    grid-area: main;
    overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget__area {
    margin: 3%;
    grid-area: sidebar;
}

/*.widget__area h2 {
    color: darkblue;
}*/

.site__footer {
    grid-area: footer;
}

/* Config ordinateur de bureau */
.site {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "sidebar"
        "main"
        "header"
        "footer";

    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: ($size__site-sidebar) auto;
        grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    }
}


// @import "no-sidebar";
